.comment-card {
    background: #35355a;
    color: #ddd;
    padding: 12px;
    margin: 8px 0 8px 40px;
    border-radius: 8px;
    border-left: 3px solid #7c4dff;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
p{
    font-size: 14px;
    opacity: 0.9;
}
.fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}